.inputRounded .MuiOutlinedInput-root{
    border-radius: 1200px;
    height: 45px;
}

.headerExpandMoreBtn.MuiButtonBase-root{
    display: none;
}

@media (max-width: 900px){
    .headerLogoBox.MuiBox-root, .headerRightBtn.MuiButtonBase-root, .headerRightBtn.MuiBadge-root{
        display: none;
    }
    .headerExpandMoreBtn.MuiButtonBase-root{
        display: block;
    }
}