.topBarLogoBox.MuiBox-root{
    display: none;
}

.topSelectBtn{
    margin-right: 2px;
}
.topSelectBtn .MuiSelect-nativeInput{
    border: none;
}

.topSelectBtn .MuiSelect-icon{
    color: white;
}
.topSelectBtn .MuiSelect-outlined{
    padding-right: 26px;
}

@media (max-width: 900px){
    .topBarLink.MuiLink-root, .topBarLefLinks.MuiBox-root{
        display: none;
    }
    .topBarLogoBox.MuiBox-root{
        display: flex;
    }
}